.v-collapse {
    --v-collapse-border-color: var(--v-border-color-light);
    --v-collapse-header-height: 48px;
    --v-collapse-header-bg-color: var(--v-fill-color-blank);
    --v-collapse-header-text-color: var(--v-text-color-primary);
    --v-collapse-header-font-size: 13px;
    --v-collapse-content-bg-color: var(--v-fill-color-blank);
    --v-collapse-content-font-size: 13px;
    --v-collapse-content-text-color: var(--v-text-color-primary);
    --v-collapse-disabled-text-color: var(--v-disabled-text-color);
    --v-collapse-disabled-border-color: var(--v-border-color-lighter);
    border-top: 1px solid var(--v-collapse-border-color);
    border-bottom: 1px solid var(--v-collapse-border-color);
  }
  .v-collapse-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--v-collapse-header-height);
    line-height: var(--v-collapse-header-height);
    background-color: var(--v-collapse-header-bg-color);
    color: var(--v-collapse-header-text-color);
    cursor: pointer;
    font-size: var(--v-collapse-header-font-size);
    font-weight: 500;
    transition: border-bottom-color var(--v-transition-duration);
    outline: none;
    border-bottom: 1px solid var(--v-collapse-border-color);
    &.is-disabled {
      color: var(--v-collapse-disabled-text-color);
      cursor: not-allowed;
      background-image: none;
    }
    &.is-active {
      border-bottom-color: transparent;
      .header-angle {
        transform: rotate(90deg);
      }
    }
    .header-angle {
      transition: transform var(--v-transition-duration);
    }
  }
  .v-collapse-item__wrapper {
    will-change: height;
    overflow: hidden;
    background-color: var(--v-collapse-content-bg-color);
    border-bottom: 1px solid var(--v-collapse-border-color);
  }
  .v-collapse-item__content {
    background-color: var(--v-collapse-content-bg-color);
    font-size: var(--v-collapse-content-font-size);
    color: var(--v-collapse-content-text-color);
    padding-bottom: 25px;
  }
  .slide-enter-active, .slide-leave-active {
    transition: height var(--v-transition-duration);
  }