:root {
  --vp-c-brand-1: var(--v-color-primary);
  --vp-c-brand-2: var(--v-color-primary-light-3);
  --vp-c-brand-3: var(--v-color-primary-dark-2);
  --vp-c-brand-soft: #265F99;
}

body {
  color: var(--vp-c-text-1);
}
h1, h2, h3, h4, h5, h6, p {
  color: var(--vp-c-text-1);
}